#masthead {
    position: relative;
    z-index: 100;
}
#masthead .row {
    position: relative;
    padding-top: 18px;
    padding-bottom: 11px;
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
    #masthead .row {
        padding-top: 18px;
        padding-bottom: 11px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #masthead .row {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media screen and (min-width: 1441px) {
    #masthead .row {
        padding-top: 28px;
        padding-bottom: 21px;
    }
}
@media screen and (min-width: 992px) {
    #masthead .col-12 {
        display: flex;
        position: relative;
    }
}

#masthead .site-branding {
    display: inline-block;
    position: relative;
    width: 50%;
}

@media screen and (max-width: 640px) {
    #masthead .site-branding {
        width: 200px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 641px) and (max-width: 991px){
    #masthead .site-branding {
        width: 204px;
    }
}

@media screen and (max-width: 640px) {
    #masthead .site-branding {
        width: 200px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    #masthead .site-branding {
        width: 335px;
    }
}

@media screen and (min-width: 1441px) {
    #masthead .site-branding {
        width: 335px;
    }
}

#masthead .site-branding a {
    display: block;
    position: relative;
}

#masthead .site-branding a img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 640px) {
    #masthead .main-navigation {
        display: none;
        position: absolute;
        z-index: 1;
        width: calc(100% + 30px);
        top: calc(100% + 6 / 3.2 * 1vw);
        left: -15px;
        background: #FFFFFF;
    }
}
@media screen and (max-width: 640px) {
    #masthead .main-navigation:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: "";
        transform: translate(0, -100%);
        
    }
}

@media screen and (min-width: 576px) and (max-width: 639px){
    #masthead .main-navigation {
        display: none;
        position: absolute;
        z-index: 1;
        width: calc(100% + 94px);
        top: calc(100% + 5 / 3.2 * 1vw);
        left: -50px;
        background: #FFFFFF;
    }
}
@media screen and (min-width: 641px) and (max-width: 991px){
    #masthead .main-navigation {
        display: none;
        position: absolute;
        z-index: 1;
        width: calc(100% + 92px);
        top: calc(100% + 10px);
        left: -45px;
        background: #FFFF;
    }
}

@media screen and (min-width: 992px){
    #masthead .main-navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1 0 auto;
        position: relative;
        height: 100%;
    }
    #masthead .main-navigation .menu-toggle {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1440px){
    #masthead .main-navigation {
        padding: 0 30px;
    }
}

@media screen and (min-width: 1441px){
    #masthead .main-navigation {
        padding: 0 30px 0;
    }
}

@media screen and (min-width: 992px){
    #masthead .main-navigation .menu {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
}

@media screen and (min-width: 1441px){
    #masthead .main-navigation .menu {
        padding-top: 18px;
    }
}

#masthead .main-navigation .menu {
    padding-top: 15px;
}

@media screen and (min-width: 992px){
    #masthead .main-navigation .menu {
        padding-top: 0;
    }
}

#masthead .main-navigation ul {
    padding: 0;
}

#masthead .main-navigation ul.menu > li {
    display: block;
    padding: 0 0 10px;
    position: relative;
}
@media screen and (min-width: 992px){
    #masthead .main-navigation ul.menu>li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
    }
    #masthead .main-navigation ul.menu > li:nth-last-child(2):after {
        content: '';
        height: calc(100% - 30px);
        width: 1px;
        position: absolute;
        right: 0;
        top: 25.5px;
        background-color: #59595B;
    }
}

@media screen and (min-width: 1441px){
    #masthead .main-navigation ul.menu > li {
        padding: 0 15px;
    }
}

#masthead .main-navigation ul.menu > li > a {
    display: block;
    position: relative;
    color: #6D6E70;
    line-height: 2;
    font-size: 25px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
@media screen and (max-width: 640px){
    #masthead .main-navigation ul.menu > li > a {
        font-size: 20px;
        padding: 0 30px;
    }
}

@media screen and (min-width: 641px) and (max-width: 991px){
    #masthead .main-navigation ul.menu > li > a {
        font-size: 20px;
        padding: 0 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1440px){
    #masthead .main-navigation ul.menu > li > a {
        font-size: 25px;
    }
}

@media screen and (min-width: 1441px){
    #masthead .main-navigation ul.menu > li > a {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px){
    #masthead .main-navigation ul.menu > li:not(.menu-item-has-children) > a:hover:after {
        width: 100%;
    }
}

#masthead .main-navigation ul.menu > li.menu-item-has-children > a {
    padding-right: 22px;
    position: relative;
}
@media screen and (min-width: 1441px){
    #masthead .main-navigation ul.menu > li.menu-item-has-children > a {
        padding-right: 22px;
    }
}

@media screen and (min-width: 992px){
    #masthead .main-navigation ul.menu > li.menu-item-has-children > a:after {
        display: block;
        position: absolute;
        width: 17px;
        height: 12px;
        top: 50%;
        left: 100%;
        content: "";
        background-attachment: scroll;
        background-size: contain;
        transform: translate(-100%, -50%);
    }
}

@media screen and (min-width: 992px){
    #masthead .main-navigation li.current-menu-item a:after  {
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    #masthead button.menu-toggle  {
        display: none;
    }
}

#masthead button.menu-toggle {
    outline: none !important;
}

#masthead ul.menu > li > a {
    padding: 20px 0;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px){
    #masthead ul.menu > li > a {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 992px){
    #masthead .menu ul {
        display: block;
        position: absolute;
        background: #FFFFFF;
        position: absolute;
        z-index: 1;
        width: 200px;
        margin-left: 8%;
        transition: .3s ease-in-out;
        left: 50%;
        top: 80%;
        transform: translate(-50%, 0);
        z-index: 2;
        border: 0;
        color: #6D6E70 !important;
        font-size: 5px !important;
        padding: 30px 0 15px;
    }
}

@media screen and (min-width: 1441px){
    #masthead .menu ul {
        padding: 2.08333333333vw 0 1.04166666667vw;
        width: 200px;
    }
}

#masthead .menu ul li {
    display: block;
    padding: 0;
}

#masthead .menu ul li a {
    display: block;
    position: relative;
    padding: 8px 30px;
    color: #6D6E70;
    line-height: 1.5;
    font-size: 15px !important;
    border: 0 !important;
}

@media screen and (min-width: 1441px){
    #masthead .menu ul li a {
        padding: 0.34722222222vw 2.08333333333vw;
        font-size: 14px;
    }
}

@media screen and (max-width: 991px){
    #masthead .menu ul li a {
        line-height: 1;
    } 
}

@media screen and (min-width: 992px){
    #masthead .menu ul li a:hover {
        border: 0 !important;
    } 
}
@media screen and (max-width: 991px){
    #masthead ul.sub-menu {
        display: block;
        padding: 0 0 30px 15px;
        position: relative;
    }
}

@media screen and (min-width: 992px){
    #masthead ul.sub-menu {
        display: none;
    }
}

#masthead .menu > li:hover ul {
    display: block;
}
@media screen and (max-width: 640px){
    #masthead .menu-toggle {
        display: block !important;
        position: absolute;
        z-index: 5;
        width: 16px;
        height: 12px;
        top: 50%;
        right: 15px;
        border: 0;
        background: transparent;
        box-shadow: none;
        padding: 0;
        appearance: none;
        transform: translate(0, -50%);
    }
    #masthead .menu-toggle span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #929598;
        left: 0;
    }
    #masthead .menu-toggle span:nth-child(1) {
        top: 0;
    }
    #masthead .menu-toggle span:nth-child(2) {
        top: 5px;
    }
    #masthead .menu-toggle span:nth-child(3) {
        top: 10px;
    }
}

@media screen and (min-width: 641px) and (max-width: 991px){
    #masthead .menu-toggle {
        display: block !important;
        position: absolute;
        z-index: 5;
        width: 32px;
        height: 24px;
        top: 50%;
        right: 30px;
        border: 0;
        background: transparent;
        box-shadow: none;
        padding: 0;
        appearance: none;
        transform: translate(0, -50%);
    }
    #masthead .menu-toggle span {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background: #929598;
        left: 0;
    }
    #masthead .menu-toggle span:nth-child(1) {
        top: 0;
    }
    #masthead .menu-toggle span:nth-child(2) {
        top: 10px;
    }
    #masthead .menu-toggle span:nth-child(3) {
        top: 20px;
    }
}
@media screen and (min-width: 992px){
    #masthead .menu-toggle {
        display: none;      
    }
}
@media screen and (max-width: 640px){
    .menu-open #masthead .site-branding a:after {
        opacity: 1;
    }
    .menu-open #masthead .menu-toggle {
        outline: 0;
    }
    .menu-open #masthead .menu-toggle span::nth-child(1) {
        top: 5px;
        transform: rotate(45deg);
        transform-origin: center;
    }
    .menu-open #masthead .menu-toggle span::nth-child(2) {
        opacity: 0;
    }
    .menu-open #masthead .menu-toggle span::nth-child(3) {
        top: 5px;
        transform: rotate(-45deg);
        transform-origin: center;
    }
    .menu-open #masthead .main-navigation {
        display: block;
    }
}

@media screen and (min-width: 641px) and (max-width: 991px){
    .menu-open #masthead .site-branding a:after {
        opacity: 1;
    }
    .menu-open #masthead .menu-toggle {
        outline: 0;
    }
    .menu-open #masthead .menu-toggle span::nth-child(1) {
        top: 10px;
        transform: rotate(45deg);
        transform-origin: center;
    }
    .menu-open #masthead .menu-toggle span::nth-child(2) {
        opacity: 0;
    }
    .menu-open #masthead .menu-toggle span::nth-child(3) {
        top: 10px;
        transform: rotate(-45deg);
        transform-origin: center;
    }
    .menu-open #masthead .main-navigation {
        display: block;
    }
}

@media screen and (max-width: 640px) {
    #masthead .col-12 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 8px;
        padding-right: 8px;
    }
    #masthead .col-12 button.menu-toggle {
        display: inline-block;
        position: relative;
        transform: none;
        top: auto;
        right: auto;
        order: 3;
        height: 100%;
        margin-left: 15px;
    }
    #masthead .col-12 button.menu-toggle span:nth-child(1) {
        top: 33%;
    }
    #masthead .col-12 button.menu-toggle span:nth-child(2) {
        top: 50%;   
    }
    #masthead .col-12 button.menu-toggle span:nth-child(3) {
         top: 66%;
    }
}
