/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,400,700&display=swap');

/*global parameters*/

html {
    font-size: 100%;
}

body {
      font-family: 'Roboto', sans-serif; 
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
}

body {
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;
    line-height: 1;
}

h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.5;
    padding-bottom: 24px;
    margin-bottom: 0 !important;
}

h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    padding: 0 0 14px;
    font-size: 42px;
}

h2 {
    padding: 0 0 16px;
    font-size: 32px;
}

h3 {
    font-size: 24px;
    padding: 0 0 24px;
}

.header-image, .map-image {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 50px;
}
.header-image .row {
    position: relative;
    min-height: 36vw;
    z-index: 10;
    color: #FFF;
}

.map-image .row {
    position: relative;
    min-height: 48vw;
    z-index: 10;
    color: #FFF;
}

.header-image figure:after, .map-image figure:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0,0,0,0.4);
}

.header-image > figure,
    .header-image > figure img, .map-image > figure, .map-image > figure img  {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header-image > figure img {
    object-fit: cover;
    object-position: 50% 50%;
}

.map-image > figure img {
    object-fit: contain;
    object-position: 50% 50%;
}
.iths-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}
.iths-logo:first-child {
    margin-bottom: 60px;
}
.iths-logo:last-child {
    margin-top: 60px;
}
.logo-and-text {
  padding-top: 120px;
  padding-bottom: 120px;
}
.intro-hr {
    border-top:1px solid black;
}

@media screen and (min-width: 768px) {
    .intro-section > .row {
        max-width: 100% !important; 
    }
    .intro-section .row {
        padding: 0;
    }
    .intro .container-fluid {
        padding: 0;
    }
    .col-12.col-md-6.text.first,
     .col-12.col-md-6.text.third,
     .col-12.col-md-6.image.second,
     .col-12.col-md-6.image.first,
      .col-12.col-md-6.image.third  {
        padding-left: 0;
    }
    .col-12.col-md-6.text.second,
     .col-12.col-md-6.image.first,
     .col-12.col-md-6.image.third,
     .col-12.col-md-6.image.second {
        padding-right: 0;

    }
    .intro-section .col-12.col-md-6 {
        margin-bottom: -16px;
    }
    .intro-section p {
        max-width: 510px;
        margin: 0 auto;
    }
}

.title {
    padding-top: 48px;
    padding-bottom: 33px;
}
.btn {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  outline: none;
}
.fa-map-marker:before {
    font-size: 50px;
}
.btn:focus {
    box-shadow: none !important;
}
.vojvodina {
    top: 3%;
    left: 37.5%;
    position: absolute;
}
.belgrade {
    position: absolute;
    top: 26%;
    left: 42.5%;
}
.se-serbia {
    position: absolute;
    top: 56%;
    right: 36.5%;
}
.sw-serbia {
    top: 41.4%;
    left: 44.5%;
    position: absolute;
}
.kosovo {
    position: absolute;
    top: 77%;
    right: 47%;
}
@media screen and (min-width: 576px){
    .modal-dialog {
        max-width: 800px !important;
        margin: 1.75rem auto;
    }
}
.modal-header {
    padding-left: 60px !important;
}
h2.ns {
    margin-top: 8px;
}
.modal-body {
    padding-left: 60px !important;
    padding-right: 60px !important;
}
.about-title {
    width: 100%;
    margin-top: 72px;
}
.header-text a {
    color: #212529;
}
.header-text a:hover {
    color: #212529;
}
.about-text p {
    text-align: justify;
}